* {
  box-sizing: border-box;
}
body {
  margin:0 auto;
  font-family: 'Roboto Condensed', sans-serif;
}
.form {
  display:flex;
  justify-content: center;
  padding:104px;
  background-color:#130F1C;
}
.login-container {
  display:flex;
  background-color:#1F1B29;
  width:428px;
  margin:0 auto;
  padding:32px;
  box-shadow: 40px 40px 60px 0px #0000001A;
  border-radius:10px;
}
.login-container form, .form-input-field, .login-container-submit-button{
  width:100%;
}
.form-label-style {
  color: #BAB9BD;
  font-size:16px;
  line-height:24px;
}
.form-input-field {
  color: #99969E;
  font-size:16px;
  line-height:24px;
  padding:12px;
  background-color:#2E2A36;
  border-radius:5px;
  border:none;
  margin-top:4px;
  margin-bottom:16px;
}
.subscribe-news {
  display:block;
  color:#BAB9BD;
  font-size:14px;
  line-height:20px;
  margin:8px 0;
}
.login-container-submit-button {
  background-color:#651FFF;
  border-radius:5px;
  border:none;
  padding:12px 48px;
  color:#FFFFFF;
  font-size:16px;
  line-height:24px;
  margin-bottom:32px;
}
.login-container-submit-button:hover {
  opacity:0.8;
  cursor:pointer;
}
.forgot-password {
  display:block;
  text-decoration:underline;
  color: #BAB9BD;
  font-size: 16px;
  line-height:24px;
  text-align:center;
}
.forgot-password:hover{
font-size: 16.5px;
}
.divider-line {
  width:100%;
  height:2px;
  border:1px solid #635F6B;
  border-radius: 11px;
  margin:32px 0;
}
.alt-login-txt {
  display:block;
  text-align:center;
  font-size:16px;
  line-height:24px;
  color:#5A5761;
}
.alt-login-button-container {
  display:flex;
  margin-top:16px;
}
.alt-login-button-google {
  width: calc(50% - 8px);
  margin:0;
  margin-right:16px;
  height:48px;
  background: url(assets/images/google.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2E2A36;
  border-radius:5px;
  border:none;
}
.alt-login-button-fb {
  width: calc(50% - 8px);
  margin:0;
  height:48px;
  background: url(assets/images/fb.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  background-color: #2E2A36;
  border-radius:5px;
  border:none;

}
.alt-login-button-fb:hover, .alt-login-button-google:hover {
  background-color: #3c3842;
  cursor:pointer;
  border:2px solid #2E2A36;
}
