@import "reset.scss"; /* Import reset.css */

body {
  margin:0 auto;
  font-family: 'Roboto Condensed', sans-serif;
}

.form {
  display:flex;
  flex-direction: row;
  padding:104px;
  background-color:#130F1C;
  overflow:overlay;
}

h2 {
  margin:0;
  padding:0;
}

/* -------------------- Login form --------------------*/

.login-container {
  display:flex;
  flex-wrap: wrap;
  background-color:#1F1B29;
  width:428px;
  min-width:320px;
  margin:0 auto;
  padding:32px;
  box-shadow: 40px 40px 60px 0px #0000001A;
  border-radius:10px;
}

.login-container form, .login-form-input-field, .form-submit-button{
  width:100%;
}

.form-label-style {
  color: #BAB9BD;
  font-size:16px;
  line-height:24px;
}

.login-form-input-field {
  color: #99969E;
  font-size:16px;
  line-height:24px;
  padding:12px;
  background-color:#2E2A36;
  border-radius:5px;
  border:none;
  margin-top:4px;
  margin-bottom:16px;
}

.subscribe-news-container {
  display:flex;
  flex-wrap:nowrap;
  width:100%;
  margin:8px 0;
  line-height: 20px;
  align-items:center;
  column-gap:8px;
}

.subscribe-news-label {
  display:inline-block;
  color:#BAB9BD;
  font-size:14px;
  line-height:20px;
}

.form-submit-button {
  background-color:#651FFF;
  border-radius:5px;
  border:none;
  padding:12px 48px;
  color:#FFFFFF;
  font-size:16px;
  line-height:24px;
}

.form-submit-button:hover {
  opacity:0.8;
  cursor:pointer;
}

.forgot-password {
  display:block;
  text-decoration:underline;
  color: #BAB9BD;
  font-size: 16px;
  line-height:24px;
  text-align:center;
  margin-top:32px;
}

.forgot-password:hover{
font-size: 16.5px;
}

.divider-line {
  width:100%;
  height:2px;
  border:1px solid #635F6B;
  border-radius: 11px;
  margin:32px 0;
}

.alt-login-txt {
  display:block;
  text-align:center;
  font-size:16px;
  line-height:24px;
  color:#5A5761;
}

.alt-login-button-container {
  display:flex;
  margin-top:16px;
}

.alt-login-button-google {
  width: calc(50% - 8px);
  margin:0;
  margin-right:16px;
  height:48px;
  background: url(assets/images/google.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2E2A36;
  border-radius:5px;
  border:none;
}

.alt-login-button-fb {
  width: calc(50% - 8px);
  margin:0;
  height:48px;
  background: url(assets/images/fb.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  background-color: #2E2A36;
  border-radius:5px;
  border:none;

}
.alt-login-button-fb:hover, .alt-login-button-google:hover {
  background-color: #3c3842;
  cursor:pointer;
  border:2px solid #2E2A36;
}

/* ---------- Subscribe news switch ----------*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E9E9E9;
  -webkit-transition: .4s;
  transition: .4s;
  padding-right:18px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FD7918;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FD7918;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ---------- End of subscribe news switch ----------*/
/* -------------------- End of login form --------------------*/

/* -------------------- Contact Us form --------------------*/

.contact-container {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color:#1F1B29;
  width:665px;
  min-width:320px;
  margin:0 auto;
  padding:32px;
  box-shadow: 40px 40px 60px 0px #0000001A;
  border-radius:10px;
  justify-content:center;
}

.form-header {
  flex-basis:100%;
  font-size: 32px;
  font-weight: 500;
  color: #99969E;
  line-height:40px;
  margin-bottom:32px;
}

.contact-form-input-field{
  color: #99969E;
  font-size:16px;
  line-height:24px;
  padding:12px;
  background-color:#2E2A36;
  border-radius:5px;
  border:none;
  margin-top:4px;
  margin-bottom:16px;
  width:100%;
}

.contact-container-form{
   display:flex;
   flex-wrap: wrap;
   column-gap:16px;
}

.contact-form-each-input-container {
  width: calc(50% - 8px);
  min-width:184.5px;
}

.subscribe-news-container {
  width:100%;
}

.contact-form-text-area-container {
  width:100%;
  max-width:100%;
  overflow:hidden;
  margin-bottom:31px;
  text-align:center;
}

.contact-form-text-area{
  resize:vertical;
  width: 99%; //100%
  max-width:99%; //100%
  min-height:102px;
  padding: 8px 2px 2px 12px;
  border-radius:5px;
  border:none;
  background-color: #2E2A36;
  color: #BAB9BD;
  font-size: 16px;
  line-height:24px;
  font-family: 'Roboto Condensed', sans-serif;
  margin:4px 0 0 0;
}

.contact-form-text-area-label {
  float:left;
  font-size:16px;
  line-height:24px;
  color: #BAB9BD;
}

.contact-form-submit-button-container {
  width:100%;  
  text-align:right;
}

.contact-form-submit-button-container input{
  width:141px;
}

.subscribe-news-container-2 {
  margin-top:23px;
  margin-bottom:29px;
  width:100%;
  line-height: 20px;
}

/* ---------- Custom checkbox ----------*/

.custom-checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius:4px;
}

/* On mouse-over, add a grey background color */
.custom-checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox-container input:checked ~ .checkmark {
  background-color: #FD7918;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ---------- End of Custom checkbox ----------  */

.subscribe-news-label-2 {
  display:inline-block;
  color:#BAB9BD;
  font-size:14px;
  line-height:20px;
  margin-left:28px;
}

/* -------------------- End of Contact Us form --------------------*/

/* -------------------- Contact Us form-2 --------------------*/

.contact-container-large {
  display:flex;
  width:100%;
  justify-content:center;
}

.contact-container-2 {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color:#1F1B29;
  width:449px;
  min-width:320px;
  padding:32px;
  box-shadow: 40px 40px 60px 0px #0000001A;
  border-radius:10px;
  justify-content:center;
}

.contact-container-left-side {
  display:flex;
  flex-wrap:wrap;
  width:216px;
  height: 607px;
  background-color: #651FFF;
  border-radius: 10px 0 0 10px;
  padding:46px 16px;
  align-content:start;
}

.contact-form-each-input-container-full-width {
  width:100%;
}

.contact-form-text-area-2{
  resize:vertical;
  width: 99%; //100%
  max-width:99%; //100%
  min-height:84px;
  padding: 8px 2px 2px 12px;
  border-radius:5px;
  border:none;
  background-color: #2E2A36;
  color: #BAB9BD;
  font-size: 16px;
  line-height:24px;
  font-family: 'Roboto Condensed', sans-serif;
  margin:4px 0 0 0;
}

.contact-info-1 {
  font-size:16px;
  line-height:24px;
  color:#FFF;
  margin-bottom:32px;
}
.contact-info-2 {
  justify-content: center;
  font-size:16px;
  line-height:24px;
  color:#FFF;
  margin-bottom:16px;
}

.contact-info-2 img {
  margin-right:10px;
  vertical-align: middle;
}

.contact-form-text-area-container-2 {
  width:100%;
  max-width:100%;
  overflow:hidden;
  margin-bottom:31px;
  text-align:center;
}

/* -------------------- End of Contact Us form-2 --------------------*/

/* -------------------- Checkout form --------------------*/

.checkout-container {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color:#1F1B29;
  width:665px;
  min-width:320px;
  box-shadow: 40px 40px 60px 0px #0000001A;
  border-radius:10px;
  padding:32px;
  gap: 32px;
  margin:0 auto;
}

.checkout-form-header {
  display:flex;
  font-size: 32px;
  font-weight: 500;
  color: #99969E;
  line-height:40px;
}

.checkout-form-order-container {
  display:flex;
  flex-wrap:wrap;
  width:100%;
  min-width:256px;
}

.checkout-form-payment-container {
  display:flex;
  flex-wrap:wrap;
  width:100%;
  min-width:256px;
}

.checkout-container-half {
  float:left;
  width:50%;
  min-width:256px;
}

.checkout-container-half-2 {
  float:left;
  width:50%;
}

.checkout-form-submit-button-container {
  width:100%;
  text-align:right;
}

.checkout-form-submit-button-container input {
  width:153px;
}

.checkout-container-half-title {
  font-size:20px;
  line-height:28px;
  color:#BAB9BD;
  width:100%;
  min-width:256px;
  margin-bottom:16px;
  letter-spacing: -0.02em;
}

.checkout-order-text-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color:#99969E;
}

.checkout-order-text-2 {
  display:block;
  font-size: 14px;
  line-height: 20px;
  color:#5A5761;
}

.checkout-order-text-padding {
  padding-left:56px;
}

.checkout-form-input-field{
  color: #99969E;
  font-size:16px;
  line-height:24px;
  padding:12px 14px 12px 12px;
  background-color:#2E2A36;
  border-radius:5px;
  border:none;
  width: calc(100% - 8px);
  margin-top:4px;
}

.checkout-form-input-field-small{
  color: #99969E;
  font-size:16px;
  line-height:24px;
  padding:12px 14px 12px 12px;
  background-color:#2E2A36;
  border-radius:5px;
  border:none;
  width: calc(100% - 8px);
  margin-top:4px;
}

.checkout-order-text-2 span{
  display:block;
  padding-top:4px;
}







/* ----------------------- Media --------------------- */

@media screen and (max-width: 872px) {
  .contact-form-each-input-container {
    width:100%;
  }
  .contact-form-submit-button-container input{
    width:100%;
  }
  .contact-form-text-area-container {
    margin-bottom:7px;
  }
  .contact-form-text-area-container-2 {
    margin-bottom:-4px;;
  }
  .contact-container-left-side {
    display:none;
  }
  .contact-form-text-area{
    min-height:113px;
  }
  .checkout-container-half {
    width:100%;
      &:first-of-type {
        border-bottom: 2px solid #5A5761;
        border-radius:1px;
        padding-bottom:32px;
        margin-bottom:32px;
      }
  }
  .checkout-form-input-field{
    margin-bottom:8px;
    width:100%;
  }
  .checkout-form-input-field-small {
    width: calc(100% - 4px);
  }
  .checkout-form-submit-button-container input {
    width:100%;
  }
  .float-right {
    float:right;
  }
  .checkout-order-text-2-row br {
    display:none;
  }
  .checkout-order-text-2-row {
    display:inline !important;
    margin-right:16px;
  }
  .checkout-container {
    padding:32px 16px;
  }

}

@media screen and (max-width: 528px) {
  .form {
    padding:0px;
    padding-bottom:10px;
  }
}